services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - .env

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    command: npm run dev -- --host
    environment:
      - VITE_BACKEND_URL=http://backend-service:5000
    depends_on:
      - backend

  admin:
    build: ./admin
    ports:
      - "5174:5174"
    command: npm run dev -- --host
    environment:
      - VITE_BACKEND_URL=http://backend-service:5000
    depends_on:
      - backend
